/* iphone 12 mini media query */
@media screen and (width: 360px) {
   section{
      padding: 2rem;
   }
}

/* iphone 12 media query */
@media screen and (width: 390px) {
   section{
      padding: 3rem;
   }
}

@media screen and (min-width: 379px) and (max-width: 767px) {
   section{
      padding: 0 3.5rem
   }
   }
   

/* tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) {
   main{
      min-height: 100vh;
   }
   section p {
      line-height: 2;
      padding-bottom: 2rem;
   }
   section a {
      margin: 1rem 0 2rem 0;
   }
   }

/* ipad pro */


   /* laptops */
@media screen and (min-width: 1024px) and (max-width:1440px) {
   body{
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100vh;
      margin: 0 14rem;
   }
   main{
      grid-template: none/repeat(3, 1fr);
   }
   section{
      padding: 0 3.8rem;
   }
   section a{
      margin: 4rem 0 2rem 0;
   }
}
